<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- カスタムセクションの定義 -->
    <section name="processSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <appSettings>
    <add key="WatchListFilePath" value="C:\Users\sator\OneDrive\ドキュメント\03_資産運用\ウォッチリスト.xlsx" />
    <add key="ExecutionListFilePath" value="C:\Users\sator\OneDrive\ドキュメント\03_資産運用\約定履歴.xlsx" />
    <add key="AlertFilePath" value="C:\Users\sator\OneDrive\ドキュメント\03_資産運用\alert_{yyyyMMdd}.txt" />
    <add key="AveragePerPbrListFilePath" value="C:\works\OptimalTrader\Doc\perpbr202411.xlsx" />
    <add key="FilelogFilePath" value="C:\works\OptimalTrader\Doc\filelog.txt" />
    <add key="GmailAPICredentialFilePath" value="C:\works\OptimalTrader\Doc\client_secret_654491593519-a64c64srij3oagjg8rs2c09cj4fkjnhf.apps.googleusercontent.com.json" />
    <add key="MailSubject" value="OptimalTrader alert" />
  </appSettings>

  <connectionStrings>
    <add name="OTDB" connectionString="Data Source=C:\works\OptimalTrader\Doc\example.db;Version=3;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <processSettings>
    <add key="ShouldRefreshOneDrive" value="1" />
    <add key="ShouldUpdateExecutionList" value="0" />
    <add key="ShouldSendMail" value="1" />
  </processSettings>
</configuration>