<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WatchListFilePath" value="..\..\..\Doc\ウォッチリスト.xlsx" />
    <add key="ExecutionListFilePath" value="..\..\..\Doc\約定履歴.xlsx" />
    <add key="AlertFilePath" value="..\..\..\Doc\alert_{yyyyMMdd}.txt" />
    <add key="AveragePerPbrListFilePath" value="..\..\..\Doc\perpbr202411.xlsx" />
    <add key="FilelogFilePath" value="c:\temp\filelog.txt" />
  </appSettings>

  <connectionStrings>
    <add name="OTDB" connectionString="Data Source=..\..\..\Doc\example.db;Version=3;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>