<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WatchListFilePath" value="..\..\..\..\ウォッチリスト.xlsx" />
    <add key="AlertFilePath" value="..\..\..\..\alert.txt" />
  </appSettings>

  <connectionStrings>
    <add name="OTDB" connectionString="Data Source=..\..\..\..\example.db;Version=3;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>